{% for section, options in item.value.config.iteritems() %}
[{{ section }}]
{% if options %}
{% for key, value in options.iteritems() %}
{{ key }} = {{ value }}
{% endfor %}
{% endif %}
{%- endfor %}
